[submodule "transformers"]
	path = transformers
	url = https://github.com/llama2d/transformers.git
[submodule "llama-recipes"]
	path = llama-recipes
	url = https://github.com/facebookresearch/llama-recipes.git
[submodule "llama-finetuning"]
	path = llama-finetuning
	url = https://github.com/Llama2D/llama-finetuning.git
